{% extends 'base.html' %}

{% block content %}
    <div class="cipher-encode-decode-container">
        <div class="cipher-title">
            Codificar Mensagem
        </div>

        <div class="cipher-description">
            Para codificar sua mensagem, informe a chave e a mensagem a ser codificada.
        </div>

        <div class="cipher-content">
            <form method="post">
                <label for="Chave">
                    Chave:
                </label>
                <input
                    type="text"
                    name="cipher_key"
                    id="cipher_key"
                    placeholder="de 1 a 25"
                >
                <br />
                <label for="message">
                    Mensagem para codificar:
                </label>
                <br />
                <textarea
                    name="message"
                    id="message"
                    cols="60"
                    rows="5"
                    placeholder="Digite sua mensagem aqui..."
                ></textarea>
                <br />

                <button type="submit">
                    CODIFICAR A MENSAGEM
                </button>
            </form>
        </div>
    </div>
{% endblock %}